.container {
    text-align: center;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#temperature {
    margin-bottom: 20px !important;
}

#city {
    padding-top: 20px;
    padding-bottom: 10px;
}
h1, h3 {
    color: green !important;
}